
@{
    ViewBag.Title = "HomeIndex";
}

<h2>Dear Mr.Wood Welcome to the Home page of Lab 2</h2>

<h3>@Html.ActionLink("GET THE PART 1 (LOAN)","LoanIndex","Loan")</h3>

<h3>@Html.ActionLink("GET THE PART 2 (GRADES)", "GradesIndex","Grades")</h3>

